ies {
    margin: 10%;
    border: 3px solid black;
}
nombreCentro {
    padding: 10px;
    font-size: 35px;
    display: block;
}
web {
    padding: 10px;
    padding-top: 0px;
    display: block;
}
nombre {
    padding: 10px;
    padding-bottom: 2px;
    display: block;

}
grado,decretoTitulo {
    display: list-item;
    margin-left: 35px;
}