ies {
    margin: 10%;
    padding: 2.5%;
    border: 3px solid black;
    position: relative;
}

nombreCentro {
    text-align: right;
    position: absolute;
    right: 0;

}

web {
    position: absolute;
    left: 0;
    text-align: left;
}

ciclo {
    display: inline-table;
    border-spacing: 10px;
    margin: 20px;
    margin-top: 60px;
    border:3px solid black;   
}

nombre,grado,
decretoTitulo {
    width: calc(50% - 10px - 30px - 6px);
    padding: 5px;
    border: 3px solid black;
    display: table-row;
    margin: 15px;
    background-color:aquamarine;
}