body {
    background: palegoldenrod;
}
h1{
    text-align: center;
}
p{
    font-size: 17px;
    text-align: justify;
    font-style: italic;
}
.caja {
    background: orange;
    border: 4px   rgb(170, 98, 34) dashed;
    width: 20%;
    float: left;
    margin: 1%;
    padding: 1%;
    min-height: 300px;
}

.caja p {
    position: relative;
    font-size: 20px;
    
}
.caja div {
    width: 50px;
    height: 60px;
    float: left;
}
.caja span {
    position: absolute;
    top: 0;
    font-style:normal;
    margin-top: 0px;
    font-size: 50px;
    color: rgb(170, 98, 34);
}