ies {
    margin: 10%;
    padding: 2.5%;
    border: 3px solid black;
}

nombreCentro {
    padding: 10px;
    font-size: 35px;
    display: inline-block;
    width: calc(50% - 20px);
    margin-bottom: 10px;
}

web {
    display: inline-block;
    width: calc(50% - 20px);
    text-align: right;
}

ciclos {
    width: calc(50% - 26px);
    margin-left: 25%;
    display: table;
    padding: 10px;
    border-spacing: 10px;
}

ciclo {
    display: table-row-group;
}

nombre {
    width: calc(100% - 10px);
    padding: 5px;
    text-align: center;
    font-size: 20px;
    background: darkgrey;
    display:table;
    
}
grado,decretoTitulo {
    width: calc(50% - 10px - 30px - 6px);
    padding: 5px;
    border: 3px solid black;
    display: inline-table;
    margin: 15px;
}